*
{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    font-size: 15px;
    border-style: none;
    margin: 0;
}
body
{
    background-image: url("defaultBackgroundImage.jpg");
    background-size:cover;
}
#mainBox
{
    border-radius:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nav h1:hover
{
    color:tomato;
    font-size: 50px;
    transition: 1s;
}
.nav
{   
    text-align: center;
    margin: 0;
    padding: 30px;
    background-color:rgba(0,0,0,.7);
    color: white;
    border-radius: 0;
}
.nav h1
{
    font-size: 40px;
    padding: 10px;
    transition: 1s;
}
.nav input,.nav button
{
    background-color: white;
    color: black;
    padding:10px;
    transition:.5s;
}
.nav input:hover,.nav button:hover
{
    transition:.5s;
    font-size: 16px;
}
.nav input
{
    width: 300px;
}
.nav button:active
{
    color:black;
    background-color: white;
    transition: .2s;
}
.listBox
{
    border-style: solid;
    color: black;
    background-color: white; 
    margin:10px;
    padding: 10px;
    resize:none;
    width: 360px;
    height:fit-content;
}
.listBox ul
{
    padding-left: 0;
}
.listBox h2
{
    font-size: 30px;
    margin: 15px;
}
.listBox input
{
    border-radius: 0;
    border-bottom: solid black;
    transition:.5s;
}
.listBox input:hover
{
    font-size: 16px;
}
.listBox input,.listBox button
{
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    transition:.5s;
}
.addItemButton:hover
{
    padding: 10px;
    margin: 5px;
    color:white;
    background-color: #27b35a;
    font-size: 16px;
    transition:.5s;
}
.item
{
    border-style: solid;
    border-color: black;
    font-size: 13px;;
    margin: 5px;
    background-color:white;
    color:black;
    height: fit-content;
    padding:5px;
    transition:.5s;
}
.item:hover
{
    background: rgb(255,235,243);
    transition: .5s;
}
.item b,.item p
{
    margin: 5px;
    display: block;
}
.item p
{
    height: fit-content;
    word-break: break-all;
}
.whiteButton,.orangeButton,.redButton
{
    border-style:solid;
    border-color:transparent;
    float:right;
}
.orangeButton:hover,.redButton:hover,.whiteButton:hover
{
    border-color:white;
}
.whiteButton
{
    background-color: #33ffe0;
}
.orangeButton
{
    background-color:#f7b32a;
}
.redButton
{
    background-color: #f7382a;
}
.notImportant
{
    color:#1a6b5f;
    font-weight:normal;
}
.important
{
    color:rgb(255, 128, 0);
    font-weight:normal;
}
.veryImportant
{
    color:red;
    font-weight:normal;
}
.sidebar
{
    float:left;
    width: 200px;
    color:white;
    border-radius: 0;
    text-align: left;
    padding: 0px;
    padding-bottom: 100%;
    margin: 0;
    background-color:rgba(0,0,0,.5);
}
.sidebar ul
{
    list-style: none;
    padding: 0px;
}
.sidebar li
{
    padding: 10px 20px;
    transition: .5s;
    text-align: left;
    width: 80%;
    border-radius: 0;
    margin: 0;
}
.sidebar li:hover
{
    background-color:white;
    color: black;
    font-size: 16px;
    transition: .5s;
}
.deleteButton:hover
{
    background-color: tomato;
    color:white
}
#imageURL
{
    margin: 20px;
    padding: 5px;
    border-radius: 0;
}